:root,
[data-bs-theme="dark"] {
  --sidebar-width: 200px;
  --player-height: 80px;

  --bs-off-white: #f5f5f5;
  --bs-gray-dark: #18181a;
  --bs-gray: #232227;
  --bs-gray-light-1: #2a292f;
  --bs-gray-light-2: #2f2d34;
  --bs-gray-light-3: #43404a;
  --bs-gray-light-4: #4e4b56;
  --bs-gray-light-5: #5d5a67;
  --bs-gray-light-6: #9f9bae;
  --bs-purple-dark-90: #0c0214;
  --bs-purple-dark-80: #180527;
  --bs-purple-dark-70: #25073b;
  --bs-purple-dark-60: #310a4e;
  --bs-purple-dark-50: #3d0d62;
  --bs-purple-dark-40: #490f76;
  --bs-purple-dark-30: #551289;
  --bs-purple-dark-20: #62149d;
  --bs-purple-dark-10: #6e17b0;
  --bs-purple: #7a19c4;
  --bs-purple-light-10: #8730ca;
  --bs-purple-light-20: #9547d0;
  --bs-purple-light-30: #a25ed6;
  --bs-purple-light-40: #af75dc;
  --bs-purple-light-50: #bd8ce2;
  --bs-purple-light-60: #caa3e7;
  --bs-purple-light-70: #d7baed;
  --bs-purple-light-80: #e4d1f3;
  --bs-purple-light-90: #f2e8f9;

  --bs-danger: #ff4989;
  --bs-danger-bg: #48212f;
  --bs-danger-bg-hover: #611d35;
  --bs-success: #79fdff;

  --bs-body-color: var(--bs-off-white);
  --bs-body-bg: var(--bs-gray);
  --bs-body-hover-bg: var(--bs-gray);

  .app-sidebar {
    width: var(--sidebar-width);
  }

  .app-main {
    margin-left: var(--sidebar-width);
    padding-bottom: var(--player-height);
  }

  .app-player {
    height: var(--player-height);
    left: var(--sidebar-width);
    right: 0;
  }

  .toast-container {
    bottom: var(--player-height);
  }

  .bg-darker {
    background-color: var(--bs-gray-dark);
  }

  .bg-gray {
    background-color: var(--bs-gray-light-1);
  }

  .btn-close {
    --bs-btn-close-focus-shadow: transparent;
  }

  .btn-close-custom {
    --bs-btn-color: rgba(255, 255, 255, 0.5);
    --bs-btn-font-size: 25px;
  }

  .btn-primary {
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-bg: var(--bs-purple);
    --bs-btn-hover-bg: var(--bs-purple-dark-20);
    --bs-btn-active-bg: var(--bs-purple-dark-20);
    --bs-btn-border-width: 0px;
  }

  .btn-secondary {
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-bg: var(--bs-gray-light-3);
    --bs-btn-hover-bg: var(--bs-gray-light-5);
    --bs-btn-active-bg: var(--bs-gray-light-3);
    --bs-btn-disabled-bg: var(--bs-gray-light-3);
    --bs-btn-border-width: 0px;
  }

  .btn-danger {
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-bg: var(--bs-danger-bg);
    --bs-btn-hover-bg: var(--bs-danger-bg-hover);
    --bs-btn-active-bg: var(--bs-danger-bg);
    --bs-btn-border-width: 0px;
  }

  .btn-play {
    --bs-btn-font-size: 30px;
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-bg: rgba(93, 90, 103, 0.3);
    --bs-btn-hover-bg: rgba(93, 90, 103, 0.25);
    --bs-btn-active-bg: rgba(93, 90, 103, 0.3);
    --bs-btn-hover-color: #afafaf;
    --bs-btn-border-width: 0px;
    --bs-btn-border-radius: 50px;
    --bs-btn-padding-x: 7px;
    --bs-btn-padding-y: 0px;
  }

  .btn-player-controls {
    --bs-btn-font-size: 30px;
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-bg: transparent;
    --bs-btn-hover-color: #afafaf;
    --bs-btn-border-width: 0px;
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
  }

  .btn-transparent {
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0px;
    --bs-btn-color: var(--bs-off-white);
    --bs-btn-hover-color: var(--bs-gray-light-6);
  }

  .btn-table {
    --bs-btn-bg: var(--bs-gray-light-2);
    --bs-btn-hover-bg: var(--bs-gray-light-1);
    --bs-btn-border-width: 0px;
  }

  .nav {
    --bs-nav-link-color: var(--bs-off-white);
    --bs-nav-link-hover-color: var(--bs-purple-light-70);
  }

  .nav-pills {
    --bs-nav-pills-link-active-color: var(--bs-off-white);
    --bs-nav-pills-link-active-bg: var(--bs-purple-dark-20);
  }

  .card {
    --bs-card-border-color: transparent;
  }

  .list-card {
    background-color: var(--bs-gray-light-2);
  }

  .toast {
    --bs-toast-color: var(--bs-off-white);
    --bs-toast-bg: var(--bs-gray-light-2);
    --bs-toast-border-width: 0px;
    --bs-toast-font-size: 15px;
    --bs-toast-zindex: 1100;
  }

  .form-control {
    background-color: transparent;
    border-color: var(--bs-gray-light-3);
  }

  .form-control:focus {
    border-color: var(--bs-gray-light-3);
    box-shadow: 0 0 0 0 transparent;
  }

  .text-gray {
    color: var(--bs-gray-light-6);
  }

  .list-group-songs {
    --bs-list-group-border-color: var(--bs-gray-light-3);
    --bs-list-group-color: var(--bs-off-white);
    --bs-list-group-bg: transparent;
    --bs-list-group-action-color: var(--bs-off-white);
    --bs-list-group-action-hover-color: var(--bs-off-white);
    --bs-list-group-action-hover-bg: var(--bs-gray-light-1);
    --bs-list-group-action-active-bg: var(--bs-gray-light-1);
  }
}