<div class="col-12 col-md col-lg">
  <div class="row mt-4">
    <div class="col-12 col-md-auto col-lg-auto" width="250px">
      <img class="mb-2" id="image" style="border-radius: 5%;" width="200px"
        src="{{ url_for('uploads.get_cover', filename=album.cover_file) if album.cover_file
                else url_for('static', filename='assets/placeholder-cover.webp') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
    </div>

    <div class="col-12 col-md col-lg mb-2">
      <h6>Cover Image</h6>

      <div class="mb-2 d-flex align-items-center gap-2">
        <label id="imageUploadBtn" class="btn btn-sm btn-secondary">
          <i class="bi bi-file-earmark-image"></i> Upload
          <input id="imageInput" type="file" accept="image/*" hidden>
        </label>

        <div id="imageUploadForm" class="d-flex align-items-center gap-2 d-none">
          <div id="imageName" style="color: var(--bs-purple-light-50);">No file chosen</div>
          <button id="imageSaveBtn" class="btn btn-sm btn-secondary"
            data-upload-url="{{ url_for('album.upload_cover_image', album_id=album.id) }}">
            <i class="bi bi-check-lg"></i> Save
          </button>
          <button id="imageCancelBtn" class="btn btn-sm btn-secondary">
            Cancel
          </button>
          <div id="saveImageSpinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
        </div>
      </div>
      <div>
        <button id="imageRemoveBtn" class="btn btn-sm btn-danger {{ '' if album.cover_file else 'd-none' }}">
          <i class="bi bi-trash3-fill"></i> Remove
        </button>
      </div>
      <div id="confirmDelete" class="d-flex align-items-center gap-2 d-none">
        <div>Delete image?</div>
        <button id="confirmDeleteImgBtn" class="btn btn-sm btn-danger"
          data-delete-url="{{ url_for('album.delete_cover_image', album_id=album.id)}}"
          data-placeholder-url="{{ url_for('static', filename='assets/placeholder-cover.webp') }}">
          Delete
        </button>
        <button id="cancelDeleteImgBtn" class="btn btn-sm btn-secondary">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/image_upload.js') }}"></script>
