<div class="mb-2 d-flex align-items-center gap-2">
  <label id="imageUploadBtn" class="btn btn-sm btn-secondary">
    <i class="bi bi-file-earmark-image"></i> Upload
    <input id="imageInput" type="file" accept="image/*" hidden>
  </label>

  <div id="imageUploadForm" class="d-flex align-items-center gap-2 d-none">
    <div id="imageName" style="color: var(--bs-purple-light-50);">
      No file chosen
    </div>
    <button id="imageSaveBtn" class="btn btn-sm btn-secondary"
      data-upload-url="{{ url_for('artist.upload_avatar', artist_id=artist_id) }}">
      <i class="bi bi-check-lg"></i> Save
    </button>
    <button id="imageCancelBtn" class="btn btn-sm btn-secondary">
      Cancel
    </button>
    <div id="saveImageSpinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
  </div>
</div>
<div>
  <button id="imageRemoveBtn" class="btn btn-sm btn-danger {{ '' if avatar_file else 'd-none' }}">
    <i class="bi bi-trash3-fill"></i> Remove
  </button>
</div>
<div id="confirmDelete" class="d-flex align-items-center gap-2 d-none">
  <div>Delete image?</div>
  <button id="confirmDeleteImgBtn" class="btn btn-sm btn-danger"
    data-delete-url="{{ url_for('artist.delete_avatar', artist_id=artist_id) }}"
    data-placeholder-url="{{ url_for('static', filename='assets/placeholder-avatar.webp') }}">
    Delete
  </button>
  <button id="cancelDeleteImgBtn" class="btn btn-sm btn-secondary">Cancel</button>
</div>

<script src="{{ url_for('static', filename='js/image_upload.js') }}"></script>
