{% extends "layout/app_layout.html" %}

{% block content %}

<div class="row p-3">
  <div class="col-12 col-md-auto col-lg-auto" style="width: 400px;">
    <div class="d-flex flex-column align-items-center mt-4">
      <div class="d-flex align-items-center justify-content-center gap-2">
        <img src="{{ artist.avatar_path if artist.avatar_path else url_for('static', filename='/assets/placeholder-avatar.png')}}"
          class="rounded-circle" width="30px">
        <a href="#" class="text-wrap text-break fw-semibold link"
          style="max-width: 200px; line-height: 17px;">
          {{ artist_name }}
        </a>
      </div>
      <img
        src="{{ album.cover_path if album.cover_path else url_for('static', filename='assets/placeholder-cover.png') }}"
        class="my-3" style="border-radius: 5%;" width="230px">
      <h3 class="text-center text-wrap text-break">{{ album.title }}</h3>
      <div class="text-center text-gray">
        Album • {{ album.release_year }} • {{ num_songs }} songs        
      </div>
      <button class="btn btn-transparent">
        <i class="bi bi-play-circle-fill" style="font-size: 45px;"></i>
      </button>
    </div>
  </div>

  <div class="col-12 col-md col-lg">
    {% if not songs %}
    <div style="font-size: 20px; padding-top: 70px;">This album is empty</div>
    {% else %}
    <ol class="list-group list-group-flush list-group-numbered list-group-songs mt-3"
      style="width: 500px;">
      {% for song in songs %}
      <li id=""
        class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
        <a class="ms-2 me-auto fw-semibold text-wrap text-break link"
          href="#">{{ song.title }}</a>
        <button class="btn btn-transparent">
          <i class="bi bi-play-fill fs-4"></i>
        </button>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>

<script>

</script>

{% endblock %}