{% extends "layout/app_layout.html" %}

{% block content %}

<div class="row p-3">
  <div class="col-12 col-md-auto col-lg-auto" style="width: 400px;">
    <div class="d-flex flex-column align-items-center mt-4">
      <div class="d-flex align-items-center justify-content-center gap-2">
        <img class="rounded-circle" width="30px"
          src="{{ url_for('uploads.get_avatar', filename=artist.avatar_file) if artist.avatar_file
                else url_for('static', filename='assets/placeholder-avatar.png') }}"
          onerror="this.src=`{{ url_for('static', filename='assets/placeholder-avatar.png') }}`">
        <a href="{{ url_for('artist.view', artist_id=artist.id) }}"
          class="text-wrap text-break fw-semibold link"
          style="max-width: 200px; line-height: 18px; font-size: 18px;">
          {{ artist_name }}
        </a>
      </div>
      <img class="my-3" style="border-radius: 5%;" width="230px"
        src="{{ url_for('uploads.get_cover', filename=album.cover_file) if album.cover_file
                else url_for('static', filename='assets/placeholder-cover.png') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.png') }}`">
      <h2 class="text-center text-wrap text-break">{{ album.title }}</h2>
      <div class="text-center text-gray">
        Album • {{ album.release_year }} • {{ num_songs }} songs        
      </div>
      <button class="btn btn-transparent">
        <i class="bi bi-play-circle-fill" style="font-size: 45px;"></i>
      </button>
    </div>
  </div>

  <div class="col-12 col-md col-lg ms-4">
    {% if not songs %}
    <div style="font-size: 20px; padding-top: 70px;">This album is empty</div>
    {% else %}
    <ol class="list-group list-group-flush list-group-numbered list-group-songs mt-3"
      style="width: 500px; padding-top: 30px;">
      {% for song in songs %}
      <li id=""
        class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
        <a class="ms-2 me-auto fw-semibold text-wrap text-break link"
          href="{{ url_for('song.view', album_id=album.id, song_id=song.id) }}">{{ song.title }}</a>
        <div class="d-flex align-items-center gap-2">
          <span class="text-gray">{{ song.duration | format_duration }}</span>
          <button class="btn btn-transparent">
            <i class="bi bi-play-fill fs-4"></i>
          </button>
        </div>
      </li>
      {% endfor %}
    </ol>
    {% endif %}

    <a class="d-flex align-items-center mt-4 ms-3 gap-3"
      href="{{ url_for('artist.view', artist_id=artist.id) }}"
      style="text-decoration: none; color: var(--bs-off-white);">
      <img class="rounded-circle" width="70px"
        src="{{ url_for('uploads.get_avatar', filename=artist.avatar_file) if artist.avatar_file
                else url_for('static', filename='assets/placeholder-avatar.png') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-avatar.png') }}`">
      <div class="d-flex flex-column">
        <div class="fw-semibold">Artist</div>
        <div class="fw-semibold link text-wrap text-break" style="font-size: 20px;">
          {{ artist_name }}
      </div>
      </div>
    </div>
  </a>
</div>

<script>

</script>

{% endblock %}