{% extends "layout/app_layout.html" %}

{% block content %}

<div class="pt-2 ps-4">
  <div class="d-flex align-items-center justify-content-between" style="width: 500px;">
    <h1>Artist Account</h1>
    <a href="{{ url_for('artist.view', artist_id=artist_id) }}"
      class="btn btn-primary">
      <i class="bi bi-globe-americas"></i> View
    </a>
  </div>
  

  <div class="row my-4">
    <div class="col-12 col-md-auto col-lg-auto" width="250px">
      <img id="avatarImg" class="rounded-circle" width="200px"
        src="{{ url_for('uploads.get_avatar', filename=avatar_file) if avatar_file
                else url_for('static', filename='assets/placeholder-avatar.webp') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-avatar.webp') }}`">
    </div>

    <div class="col-12 col-md col-lg mt-3">
      <h6>Profile picture</h6>
      
      {% include "components/edit/artist_avatar.html" %}

      <h6 class="mt-3">Account settings</h6>
      <a href="{{ url_for('account.view') }}" class="btn btn-sm btn-secondary">
        <i class="bi bi-gear-fill"></i> Account
      </a>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between" style="width: 500px;">
    <h4>Albums</h4>
    <form method="post" action="{{ url_for('album.create_album') }}">
      <button class="btn btn-sm btn-primary">
        <i class="bi bi-plus-lg"></i> New album
      </button>
    </form>
  </div> 
  

  {% for album in albums %}
  <a href="{{ url_for('album.edit_view', album_id=album.id) }}"
    class="card list-card p-2 my-2" style="text-decoration: none; width: 500px;">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <img class="rounded" width="70px"
          src="{{ url_for('uploads.get_cover', filename=album.cover_file) if album.cover_file
                else url_for('static', filename='assets/placeholder-cover.webp') }}"
          onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
        <div>
          <div class="fw-semibold text-wrap text-break">{{ album.title }}</div>
          <div class="text-gray small">{{ album.release_year }}</div>
        </div>
      </div>
      <i class="bi mx-3 {{ 'bi-globe-americas' if album.published else 'bi-lock-fill' }}"
        style="color: var(--bs-gray-light-6);">
      </i>
    </div>
  </a>
  {% endfor %}

</div>

{% endblock %}
