{% extends "layout/app_layout.html" %}

{% block content %}

<div class="my-4 ms-4">
  <form id="searchForm">
    <div class="input-group position-relative" style="width: 480px;">
      <input id="searchInput" class="form-control form-control-lg" maxlength="100"
        placeholder="Search songs, albums, artists" autocomplete="off">
      <button id="searchBtn" class="btn btn-lg btn-secondary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>

  <div class="my-2">
    <input type="radio" class="btn-check" name="filters" id="songsCheck" value="song" autocomplete="off">
    <label class="btn btn-radio" for="songsCheck">Songs</label>
    
    <input type="radio" class="btn-check" name="filters" id="albumsCheck" value="album" autocomplete="off">
    <label class="btn btn-radio" for="albumsCheck">Albums</label>
    
    <input type="radio" class="btn-check" name="filters" id="artistsCheck" value="artist" autocomplete="off">
    <label class="btn btn-radio" for="artistsCheck">Artists</label>
  </div>

  <div class="card position-absolute" style="z-index: 1000;">
    <ul id="searchSuggestions" class="list-group list-group-flush list-group-search" style="width: 480px;">
    </ul>
  </div>
</div>

<div class="ps-3">
  <div class="container" style="max-width: 1000px;">
    <div id="noResults" class="ps-2 mt-5 d-none">
      <span class="fw-semibold" style="font-size: 18px;">No results found</span>
    </div>
    <div id="resultsGrid" class="row row-cols-auto d-none">
    </div>
  </div>
</div>

<div class="ps-3">
  <h2 class="mt-5" style="padding-left: 20px;">Recently Played</h2>
  <div class="container" style="max-width: 1000px;">
    <div class="row row-cols-auto">
      {% for song in recents %}
      <div class="col">
        <a href="{{ url_for('song.view', song_id=song.id) }}"
        class="card grid-card p-2 my-2" style="text-decoration: none; width: 200px;">
          <div class="d-flex flex-column align-items-start">
            <img class="rounded mb-2" width="180px"
              src="{{ url_for('uploads.get_cover', filename=song.cover_file) if song.cover_file
                      else url_for('static', filename='assets/placeholder-cover.webp') }}"
              onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
            <div class="fw-semibold text-wrap text-break">{{ song.title }}</div>
            <div class="text-gray small text-wrap text-break">{{ song.album_title }} • {{ song.artist_name }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>  
</div>

<div class="ps-3">
  <h2 class="mt-5" style="padding-left: 20px;">New Releases</h2>
  <div class="container" style="max-width: 1000px;">
    <div class="row row-cols-auto">
      {% for album in new_releases %}
      <div class="col">
        <a href="{{ url_for('album.view', album_id=album.id) }}"
        class="card grid-card p-2 my-2" style="text-decoration: none; width: 200px;">
          <div class="d-flex flex-column align-items-start">
            <img class="rounded mb-2" width="180px"
              src="{{ url_for('uploads.get_cover', filename=album.cover_file) if album.cover_file
                      else url_for('static', filename='assets/placeholder-cover.webp') }}"
              onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
            <div class="fw-semibold text-wrap text-break">{{ album.title }}</div>
            <div class="text-gray small text-wrap text-break">{{ album.artist_name }} • {{ album.release_year }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>  
</div>


<script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock %}
