{% extends "layout/app_layout.html" %}

{% block content %}

<div class="my-4 ms-4">
  <form id="searchForm">
    <div class="input-group position-relative" style="width: 480px;">
      <input id="searchInput" class="form-control form-control-lg" maxlength="100"
        placeholder="Search songs, albums, artists" autocomplete="off">
      <button id="searchBtn" class="btn btn-lg btn-secondary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>

  <div class="my-2">
    <input type="radio" class="btn-check" name="filters" id="songsCheck" value="song" autocomplete="off">
    <label class="btn btn-radio" for="songsCheck">Songs</label>
    
    <input type="radio" class="btn-check" name="filters" id="albumsCheck" value="album" autocomplete="off">
    <label class="btn btn-radio" for="albumsCheck">Albums</label>
    
    <input type="radio" class="btn-check" name="filters" id="artistsCheck" value="artist" autocomplete="off">
    <label class="btn btn-radio" for="artistsCheck">Artists</label>
  </div>

  <div class="card position-absolute" style="z-index: 1000;">
    <ul id="searchSuggestions" class="list-group list-group-flush list-group-search" style="width: 480px;">
    </ul>
  </div>
</div>

<div class="ps-3">
  <div class="container" style="max-width: 1000px;">
    <div id="noResults" class="ps-2 mt-5 d-none">
      <span class="fw-semibold" style="font-size: 18px;">No results found</span>
    </div>
    <div id="resultsGrid" class="row row-cols-auto d-none">
    </div>
  </div>
</div>

<div class="ps-3">
  <h2 class="mt-5" style="padding-left: 20px;">Recently Played</h2>
  <div class="container" style="max-width: 1000px;">
    <div class="row row-cols-auto">
      {% for song in recents %}
      <div class="col">
        <a href="{{ url_for('song.view', album_id=song.album_id, song_id=song.id) }}"
        class="card grid-card p-2 my-2" style="text-decoration: none; width: 200px;">
          <div class="d-flex flex-column align-items-start">
            <img class="rounded mb-2" width="180px"
              src="{{ url_for('uploads.get_cover', filename=song.cover_file) if song.cover_file
                      else url_for('static', filename='assets/placeholder-cover.webp') }}"
              onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
            <div class="fw-semibold text-wrap text-break">{{ song.title }}</div>
            <div class="text-gray small text-wrap text-break">{{ song.album_title }} • {{ song.artist_name }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>  
</div>

<div class="ps-3">
  <h2 class="mt-5" style="padding-left: 20px;">New Releases</h2>
  <div class="container" style="max-width: 1000px;">
    <div class="row row-cols-auto">
      {% for album in new_releases %}
      <div class="col">
        <a href="{{ url_for('album.view', album_id=album.id) }}"
        class="card grid-card p-2 my-2" style="text-decoration: none; width: 200px;">
          <div class="d-flex flex-column align-items-start">
            <img class="rounded mb-2" width="180px"
              src="{{ url_for('uploads.get_cover', filename=album.cover_file) if album.cover_file
                      else url_for('static', filename='assets/placeholder-cover.webp') }}"
              onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.webp') }}`">
            <div class="fw-semibold text-wrap text-break">{{ album.title }}</div>
            <div class="text-gray small text-wrap text-break">{{ album.artist_name }} • {{ album.release_year }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>  
</div>


<script>
  let selectedFilter = null

  const searchInput = document.getElementById("searchInput");
  const searchSuggestions = document.getElementById("searchSuggestions");

  function hideSuggestions() {
    searchSuggestions.innerHTML = "";
    searchSuggestions.classList.add("d-none");
  }

  function renderSuggestions(items) {
    searchSuggestions.innerHTML = "";
    if (!items.length) {
      searchSuggestions.classList.add("d-none");
      return;
    }

    items.forEach(item => {
      const el = document.createElement("a");
      el.className = "list-group-item list-group-item-action d-flex align-items-center gap-3";
      el.innerHTML = `
        <i class="bi fs-5
          ${item.type == 'Song' ? 'bi-music-note' : item.type == 'Album' ? 'bi-disc-fill' : 'bi-star-fill'}"
          style="color: var(--bs-gray-light-6);"></i>
        <div class="pe-2" style="max-width: 430px;">
          <div class="fw-semibold text-truncate">${item.name}</div>
          <div class="text-gray text-truncate small" style="margin-top: -2px;">
            ${item.type}${item.artist ? " • " + item.artist : ""}
          </div>
        </div>`;
      el.href = item.url;
      searchSuggestions.append(el);
    });

    searchSuggestions.classList.remove("d-none")
  }

  async function updateSuggestions() {
    const searchValue = searchInput.value.trim();
    
    if (searchValue.length < 3) {
      hideSuggestions();
      return;
    }

    try {
      let url = `/search/suggest?q=${encodeURIComponent(searchValue)}`
      if (selectedFilter) {
        url += `&type=${selectedFilter}`;
      }

      const res = await fetch(url, {
        method: "GET",
        headers: {
          "Accept": "application/json"
        }
      });
      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");

      renderSuggestions(data);
    } catch (err) {
      hideSuggestions();
      console.log("Search preview error: " + err);
    }
  }

  function debounce(callback, delay) {
    let timer;
    return (...args) => {
      clearTimeout(timer);
      timer = setTimeout(() => callback(...args), delay)
    }
  }

  searchInput.addEventListener("input", debounce(async () => {
    updateSuggestions();
  }, 200))

  document.querySelectorAll('input[name="filters"]').forEach(radio => {
    radio.addEventListener("click", (e) => {
      e.preventDefault();
      e.stopPropagation();
      if (selectedFilter == radio.value) {
        radio.checked = false;
        selectedFilter = null;
      } else {
        selectedFilter = radio.value;
      }
      if (searchInput.contains(e.target)) {
        updateSuggestions();
      } else {
        updateResults();
      }
    });
  });


  const resultsGrid = document.getElementById("resultsGrid");
  const noResults = document.getElementById("noResults");

  function renderSearchResults(results) {
    noResults.classList.add("d-none");
    resultsGrid.innerHTML = "";
    if (!results.length) {
      resultsGrid.classList.add("d-none");
      noResults.classList.remove("d-none");
      return;
    }

    results.forEach(item => {
      const placeholder = item.type === "Artist"
            ? "/static/assets/placeholder-avatar.webp"
            : "/static/assets/placeholder-cover.webp";
      const el = document.createElement("div");
      el.className = "col";
      el.innerHTML = `
        <a href="${item.url}"
        class="card grid-card p-2 my-2" style="text-decoration: none; width: 200px;">
          <div class="d-flex flex-column align-items-start">
            <img class="${item.type == 'Artist' ? 'rounded-circle' : 'rounded'} mb-2" width="180px"
              src="${item.img}"
              onerror="this.src='${placeholder}'">
            <div class="fw-semibold text-wrap text-break">${item.name}</div>
            <div class="text-gray small">${item.type}</div>
            ${item.type == "Artist"
              ? ''
              : '<div class="text-gray small text-wrap text-break">' + item.artist + ' • ' +
                (item.type == "Album" ? item.year : item.album) + '</div>'}
          </div>
        </a>`
      el.href = item.url;
      resultsGrid.append(el);
    });
    resultsGrid.classList.remove("d-none")
  }

  document.getElementById("searchForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const searchValue = searchInput.value.trim();
    if (searchValue.length < 3) {
      showErrorToast("Enter at least 3 characters");
      return;
    }

    hideSuggestions();
    updateResults();
  });

  async function updateResults() {
    hideSuggestions();

    const searchValue = searchInput.value.trim();
    if (searchValue.length < 3) {
      return;
    }

    try {
      let url = `/search/results?q=${encodeURIComponent(searchValue)}`
      if (selectedFilter) {
        url += `&type=${selectedFilter}`;
      }

      const res = await fetch(url, {
        method: "GET",
        headers: {
          "Accept": "application/json"
        }
      });
      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");

      renderSearchResults(data);
    } catch (err) {
      console.log("Search error: " + err);
    }
  }

  document.addEventListener("click", (e) => {
    if (!searchInput.contains(e.target)) {
      hideSuggestions();
    }
  });

</script>

{% endblock %}
