{% extends "layout/app_layout.html" %}

{% block content %}

<div class="ps-5 pt-5">
  <div class="row">
    <div class="col-12 col-md-auto col-lg-auto d-flex flex-column align-items-center justify-content-between">
      <img style="border-radius: 5%;" width="230px"
        src="{{ url_for('uploads.get_cover', filename=album.cover_path) if album.cover_path
                else url_for('static', filename='assets/placeholder-cover.png') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.png') }}`">
      <div class="d-flex align-items-center">
        <button class="btn btn-transparent">
          <i class="bi bi-play-circle-fill" style="font-size: 45px;"></i>
        </button>
      </div>
    </div>

    <div class="col-12 col-md col-lg ms-3 mt-5" style="max-width: 600px;">
      <span class="text-gray">Song • {{ song.duration | format_duration }} </span>
      <h2 class="mt-1 text-break text-wrap">{{ song.title }}</h2>
      <div class="d-flex align-items-center gap-1" style="line-height: 17px;">
        <a href="{{ url_for('album.view', album_id=album.id) }}"
          class="fw-semibold link text-wrap text-break">
          {{ album.title }}
        </a>
        <span class="text-gray"> • </span>
        <span class="text-gray">{{ album.release_year }}</span>
      </div>
      <div class="d-flex align-items-center mt-3 gap-2">
        <img class="rounded-circle" width="30px"
          src="{{ url_for('uploads.get_avatar', filename=artist.avatar_path) if artist.avatar_path
                else url_for('static', filename='assets/placeholder-avatar.png') }}"
          onerror="this.src=`{{ url_for('static', filename='assets/placeholder-avatar.png') }}`">
        <a href="{{ url_for('artist.view', artist_id=artist.id) }}"
          class="fw-semibold link text-wrap text-break" style="line-height: 17px;">
          {{ artist_name }}
        </a>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="d-flex align-items-center mt-3 gap-3">
      <img class="rounded-circle" width="70px"
        src="{{ url_for('uploads.get_avatar', filename=artist.avatar_path) if artist.avatar_path
                else url_for('static', filename='assets/placeholder-avatar.png') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-avatar.png') }}`">
      <div class="d-flex flex-column">
        <div class="fw-semibold">Artist</div>
        <a href="{{ url_for('artist.view', artist_id=artist.id) }}"
          class="fw-semibold link text-wrap text-break" style="font-size: 20px;">
          {{ artist_name }}
        </a>
      </div>
    </div>

    <div class="d-flex align-items-center mt-4 gap-3">
      <img class="rounded" width="70px"
        src="{{ url_for('uploads.get_cover', filename=album.cover_path) if album.cover_path
                else url_for('static', filename='assets/placeholder-cover.png') }}"
        onerror="this.src=`{{ url_for('static', filename='assets/placeholder-cover.png') }}`">
      <div class="d-flex flex-column">
        <div class="fw-semibold">Album</div>
        <a href="{{ url_for('album.view', album_id=album.id) }}"
          class="fw-semibold link text-wrap text-break" style="font-size: 20px;">
          {{ album.title }}
        </a>
      </div>
    </div>
  </div>
</div>

<script>

</script>

{% endblock %}
