<div class="container-fluid h-100">
  <div class="row h-100 align-items-center flex-nowrap">
    <a id="playerInfo" href="#"
      class="col-4 d-flex align-items-center gap-2 overflow-hidden"
      style="text-decoration: none; color: var(--bs-off-white);">
      <img id="playerCover" class="rounded"
        style="width: 56px; height: 56px; object-fit: cover;"
        src="{{ url_for('static', filename='assets/placeholder-cover.webp')}}" >
      <div class="d-flex flex-column" class="fw-semibold text-truncate">
        <span id="playerTitle" class="fw-semibold text-truncate">
          No song playing
        </span>
        <span id="playerAlbum" class="text-gray small text-truncate"></span>
      </div>
    </a>

    <div class="col-2 d-flex align-items-center justify-content-between">
      <button class="btn btn-player-controls" id="playerBackBtn">
        <i class="bi bi-skip-start-fill"></i>
      </button>
      <button class="btn btn-play" id="playerPlayBtn">
        <i class="bi bi-play-fill"></i>
      </button>
      <button class="btn btn-play d-none" id="playerPauseBtn">
        <i class="bi bi-pause-fill"></i>
      </button>
      <button class="btn btn-player-controls" id="playerFwdBtn">
        <i class="bi bi-skip-end-fill"></i>
      </button>
    </div>

    <div class="col-6 d-none d-md-flex align-items-center gap-2 justify-content-end">

    </div>
  </div>

  <audio id="playerAudio"></audio>
</div>

<script src="{{ url_for('static', filename='js/player.js') }}"></script>
