<div class="container-fluid h-100">
  <div class="row h-100 align-items-center flex-nowrap">
    <div class="col-4 d-flex align-items-center gap-2 overflow-hidden">
      <img id="player-cover" class="rounded"
        style="width: 56px; height: 56px; object-fit: cover;"
        src="{{ url_for('static', filename='assets/placeholder-cover.png')}}" >
      <div class="d-flex flex-column" class="fw-semibold text-truncate">
        <span id="player-title" class="fw-semibold text-truncate">
          No song playing
        </span>
        <span id="player-album" class="text-gray small text-truncate">
          Album
        </span>
      </div>
    </div>

    <div class="col-2 d-flex align-items-center justify-content-between">
      <button class="btn btn-player-controls" id="btn-prev">
        <i class="bi bi-skip-start-fill"></i>
      </button>
      <button class="btn btn-play" id="btn-play">
        <i class="bi bi-play-fill"></i>
      </button>
      <button class="btn btn-player-controls" id="btn-next">
        <i class="bi bi-skip-end-fill"></i>
      </button>
    </div>

    <div class="col-6 d-none d-md-flex align-items-center gap-2 justify-content-end">

    </div>
  </div>

  <audio id="audio-element"></audio>
</div>
