{% extends "base_main.html" %}

{% block main %}

<div class="px-3">
  <a href="{{ url_for('artist_acc.view') }}" style="text-decoration: none; color: var(--bs-purple-light-50)">
    <i class="bi bi-caret-left-fill"></i> All Albums
  </a>

  <!-- Title -->
  <div class="d-flex align-items-start justify-content-between mt-2 gap-2">
    <div>
      <h2 id="albumTitle">{{ album.title }}</h2>
      <span id="publishedStatusBadge" class="badge bg-gray" style="color: var(--bs-gray-light-6);">
        {% if album.published %}
        Published <i class="bi bi-globe-americas"></i>
        {% else %}
        Private <i class="bi bi-lock-fill"></i>
        {% endif %}
      </span>
    </div>
    {% if not album.published %}
    <button id="publishAlbumBtn" class="btn btn-primary mt-1">
      <i class="bi bi-globe-americas"></i> Publish
    </button>
    {% endif %}
  </div>
  
  <!-- Album details -->
  <div class="row mt-3">
    <!-- Details -->
    <div class="col-12 col-md-auto col-lg-auto" style="width: 600px;">
      <div class="d-flex align-items-center justify-content-between mt-2" style="max-width: 500px;">
        <h5>Album Details</h5>
        <button id="saveAlbumDetailsBtn" class="btn btn-sm btn-primary">
          <i class="bi bi-check-lg"></i> Save
        </button>
      </div> 

      <!-- Album details form -->
      <div class="my-2" style="width: 500px">
        <div class="row mb-1">
          <label for="inputAlbumTitle" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-9">
            <input id="inputAlbumTitle" value="{{ album.title }}" type="text" maxlength="100" class="form-control">
          </div>
        </div>
        <div class="row mb-1">
          <label for="inputAlbumYear" class="col-sm-3 col-form-label">Release year</label>
          <div class="col-sm-9">
            <input id="inputAlbumYear" value="{{ album.release_year }}" type="number" class="form-control">
          </div>
        </div>
      </div>

      <!-- Delete album -->
      <div class="d-flex mt-4">
        <button id="deleteAlbumBtn" class="btn btn-sm btn-danger align-self-end">
          <i class="bi bi-trash3-fill"></i> Delete album
        </button>
        <div id="confirmDeleteAlbum" class="d-flex align-items-center gap-2 d-none">
          <div>Delete album?</div>
          <form method="post" action="{{ url_for('album.delete_album', album_id=album.id) }}">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <button id="cancelDeleteAlbumBtn" class="btn btn-sm btn-secondary">Cancel</button>
        </div>
      </div>
    </div>

    <!-- Cover -->
    <div class="col-12 col-md col-lg">
      <div class="row mt-4">
        <div class="col-12 col-md-auto col-lg-auto" width="250px">
          <img class="mb-2" id="coverImg" src="{{ album.cover_path if album.cover_path else default_cover }}"
            onerror="this.src='{{ default_cover }}'"
            style="border-radius: 5%;" width="200px">
        </div>

        <div class="col-12 col-md col-lg mb-2">
          <h6>Cover Image</h6>
          
          <div class="mb-2 d-flex align-items-center gap-2">
            <label id="imageUploadBtn" class="btn btn-sm btn-secondary">
              <i class="bi bi-file-earmark-image"></i> Upload
              <input id="imageInput" type="file" accept="image/*" hidden>
            </label>

            <div id="imageUploadForm" class="d-flex align-items-center gap-2 d-none">
              <div id="imageName" style="color: var(--bs-purple-light-50);">No file chosen</div>
              <button id="imageSaveBtn" class="btn btn-sm btn-secondary">
                <i class="bi bi-check-lg"></i> Save
              </button>
              <button id="imageCancelBtn" class="btn btn-sm btn-secondary">
                Cancel
              </button>
              <div id="saveImageSpinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
            </div>
          </div>
          <div>
            <button id="imageRemoveBtn" class="btn btn-sm btn-danger {{ '' if album.cover_path else 'd-none' }}">
              <i class="bi bi-trash3-fill"></i> Remove
            </button>
          </div>
          <div id="confirmDeleteImg" class="d-flex align-items-center gap-2 d-none">
            <div>Delete image?</div>
            <button id="confirmDeleteImgBtn" class="btn btn-sm btn-danger">Delete</button>
            <button id="cancelDeleteImgBtn" class="btn btn-sm btn-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Songs -->
  <div class="mt-3">
    <div class="d-flex align-items-center justify-content-between mb-2" style="width: 550px;">
      <h5>Songs</h5>
      <button class="btn btn-sm btn-primary">
        <i class="bi bi-plus-lg"></i> Add song
      </button>
    </div>

    <ul class="list-group list-group-flush list-group-songs" style="width: 550px;">
      {% for song in songs %}
      <li id="listItem{{ song.id }}" class="list-group-item list-group-item-action">
        <div class="d-flex align-items-center justify-content-between">
          <div id="songTitle{{ song.id }}" class="fw-semibold">{{ song.title }}</div>
          <button class="btn btn-sm btn-transparent edit-song-btn" id="editSongBtn{{ song.id }}"
            data-song-id="{{ song.id }}">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </div>

        <div id="editSong{{ song.id }}" class="card bg-gray my-2 d-none" style="width: 520px;">
          <div class="card-body">
            <div class="card-title d-flex align-items-center justify-content-between mb-3">
              <h6>Edit song</h6>
              <div>
                <button class="btn btn-sm btn-secondary cancel-edit-song-btn"
                  data-song-id="{{ song.id }}">
                  Cancel
                </button>
                <button class="btn btn-sm btn-primary save-edit-song-btn"
                  data-song-id="{{ song.id }}"
                  data-save-url="{{ url_for('song.save_details', album_id=album.id, song_id=song.id) }}">
                  <i class="bi bi-check-lg"></i> Save
                </button>
              </div>
            </div>
            
            <div class="row mb-1">
              <label for="inputSongTitle{{ song.id }}" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input id="inputSongTitle{{ song.id }}" value="" type="text" maxlength="100" class="form-control">
              </div>
            </div>

            <div class="d-flex justify-content-end mt-3">
              <button class="btn btn-sm btn-danger delete-song-btn"
                id="deleteSongBtn{{ song.id }}"
                data-song-id="{{ song.id }}">
                <i class="bi bi-trash3-fill"></i> Delete
              </button>
              <div class="d-flex align-items-center gap-2 d-none confirm-delete-song"
                id="confirmDeleteSong{{ song.id }}">
                <div>Delete song?</div>
                <button class="btn btn-sm btn-danger confirm-delete-song-btn"
                  data-song-id="{{ song.id }}"
                  data-delete-url="{{ url_for('song.delete_song', album_id=album.id, song_id=song.id) }}">
                  Delete
                </button>
                <button class="btn btn-sm btn-secondary cancel-delete-song-btn"
                  data-song-id="{{ song.id }}">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<!-- Edit song -->
<script>
  document.querySelectorAll(".edit-song-btn").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const songId = btn.dataset.songId;
      const songTitle = document.getElementById("songTitle" + songId)?.textContent;

      document.getElementById("editSong" + songId)?.classList.remove("d-none");
      document.getElementById("inputSongTitle" + songId).value = songTitle;
      document.getElementById("listItem" + songId)?.classList.remove("list-group-item-action");
      btn.classList.add("d-none");
    })
  });

  document.querySelectorAll(".cancel-edit-song-btn").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const songId = btn.dataset.songId;
      document.getElementById("editSong" + songId)?.classList.add("d-none");
      document.getElementById("editSongBtn" + songId)?.classList.remove("d-none");
      document.getElementById("listItem" + songId)?.classList.add("list-group-item-action");
    })
  });

  document.querySelectorAll(".save-edit-song-btn").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      const songId = btn.dataset.songId;
      const saveUrl = btn.dataset.saveUrl;
      const title = document.getElementById("inputSongTitle" + songId)?.value;
      if (!title) {
        showErrorToast("Missing song title");
        return;
      }
      const formData = { title: title };

      try {
        const res = await fetch(saveUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
          },
          body: JSON.stringify(formData)
        });

        const data = await res.json();
        if (!res.ok) throw new Error(data.message || "Something went wrong");
      
        document.getElementById("songTitle" + songId).textContent = title;
        document.getElementById("editSong" + songId)?.classList.add("d-none");
        document.getElementById("editSongBtn" + songId)?.classList.remove("d-none");
        document.getElementById("listItem" + songId)?.classList.add("list-group-item-action");
        showSuccessToast("Song details updated");
      } catch (err) {
        showErrorToast(err.message || "Something went wrong");
      }
    })
  });

  document.querySelectorAll(".delete-song-btn").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const songId = btn.dataset.songId;
      document.getElementById("confirmDeleteSong" + songId)?.classList.remove("d-none");
      btn.classList.add("d-none");
    })
  });

  document.querySelectorAll(".cancel-delete-song-btn").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const songId = btn.dataset.songId;
      document.getElementById("confirmDeleteSong" + songId)?.classList.add("d-none");
      document.getElementById("deleteSongBtn" + songId)?.classList.remove("d-none");
    })
  });


  document.querySelectorAll(".confirm-delete-song-btn").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      const songId = btn.dataset.songId;
      const deleteUrl = btn.dataset.deleteUrl;

      try {
        const res = await fetch(deleteUrl, {
          method: "DELETE",
          headers: {
            "Accept": "application/json"
          }
        });

        const data = await res.json();
        if (!res.ok) throw new Error(data.message || "Something went wrong");
      
        document.getElementById("listItem" + songId)?.classList.add("d-none");
        showSuccessToast("The song was deleted");
      } catch (err) {
        showErrorToast(err.message || "Something went wrong");
      }
    })
  });
</script>


<!-- Album details -->
<script>
  const saveAlbumDetailsBtn = document.getElementById("saveAlbumDetailsBtn");

  saveAlbumDetailsBtn.addEventListener("click", async () => {
    const title = document.getElementById("inputAlbumTitle").value;
    const year = parseInt(document.getElementById("inputAlbumYear").value);
    const formData = {
      title: title,
      release_year: year
    };

    try {
      const res = await fetch("{{ url_for('album.save_details', album_id=album.id) }}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify(formData)
      });

      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");
    
      document.getElementById("albumTitle").textContent = title;
      showSuccessToast("Album details updated");

    } catch (err) {
      showErrorToast(err.message || "Something went wrong");
    }
  });

  const publishAlbumBtn = document.getElementById("publishAlbumBtn");

  if (publishAlbumBtn) publishAlbumBtn.addEventListener("click", async () => {
    try {
      const res = await fetch("{{ url_for('album.publish_album', album_id=album.id) }}", {
        method: "POST",
        headers: {
          "Accept": "application/json"
        }
      });

      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");

      document.getElementById("publishedStatusBadge").innerHTML = `Published <i class="bi bi-globe-americas"></i>`;
      publishAlbumBtn.classList.add("d-none");
      showSuccessToast("Album published");
    } catch (err) {
      showErrorToast(err.message || "Something went wrong");
    }
  });

  const deleteAlbumBtn = document.getElementById("deleteAlbumBtn");
  const confirmDeleteAlbum = document.getElementById("confirmDeleteAlbum");
  const cancelDeleteAlbumBtn = document.getElementById("cancelDeleteAlbumBtn");
  
  deleteAlbumBtn.addEventListener("click", () => {
    confirmDeleteAlbum.classList.remove("d-none");
    deleteAlbumBtn.classList.add("d-none");
  });

  cancelDeleteAlbumBtn.addEventListener("click", () => {
    confirmDeleteAlbum.classList.add("d-none");
    deleteAlbumBtn.classList.remove("d-none");
  });
</script>

<!-- Cover image -->
<script>
  const imageInput = document.getElementById("imageInput");
  const imageName = document.getElementById("imageName");
  const imageUploadForm = document.getElementById("imageUploadForm");
  const imageUploadBtn = document.getElementById("imageUploadBtn");
  const imageSaveBtn = document.getElementById("imageSaveBtn");
  const imageCancelBtn = document.getElementById("imageCancelBtn");
  const imageRemoveBtn = document.getElementById("imageRemoveBtn");
  const confirmDeleteImgBtn = document.getElementById("confirmDeleteImgBtn");
  const cancelDeleteImgBtn = document.getElementById("cancelDeleteImgBtn");
  const confirmDeleteImg = document.getElementById("confirmDeleteImg");
  const coverImg = document.getElementById("coverImg");
  const saveImageSpinner = document.getElementById("saveImageSpinner");

  imageInput.addEventListener("change", () => {
    if (imageInput.files.length > 0) {
      imageName.textContent = imageInput.files[0].name;
    } else {
      imageName.textContent = "No file chosen";
    }
  });

  imageUploadBtn.addEventListener("click", () => {
    imageUploadForm.classList.remove("d-none");
    imageUploadBtn.classList.add("disabled");
  });

  imageCancelBtn.addEventListener("click", () => {
    imageUploadForm.classList.add("d-none");
    imageUploadBtn.classList.remove("disabled");
    imageName.textContent = "No file chosen";
  });

  imageSaveBtn.addEventListener("click", async () => {
    const file = imageInput.files?.[0];
    if (!file) showErrorToast("Choose an image");

    const form = new FormData();
    form.append("image", file);

    saveImageSpinner.classList.remove("d-none");

    try {
      const res = await fetch("{{ url_for('album.upload_cover_image', album_id=album.id) }}", {
        method: "POST",
        headers: {
          "Accept": "application/json"
        },
        body: form
      });

      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");
      
      showSuccessToast("Cover image updated");
      coverImg.src = data["cover_url"];
      imageRemoveBtn.classList.remove("d-none");
    } catch (err) {
      showErrorToast(err.message || "Something went wrong");
    } finally {
      saveImageSpinner.classList.add("d-none");
      imageName.textContent = "No file chosen";
      imageUploadForm.classList.add("d-none");
      imageUploadBtn.classList.remove("disabled");
    }
  });

  imageRemoveBtn.addEventListener("click", () => {
    imageRemoveBtn.classList.add("d-none");
    confirmDeleteImg.classList.remove("d-none");
  });

  cancelDeleteImgBtn.addEventListener("click", () => {
    imageRemoveBtn.classList.remove("d-none");
    confirmDeleteImg.classList.add("d-none");
  })

  confirmDeleteImgBtn.addEventListener("click", async () => {
    try {
      const res = await fetch("{{ url_for('album.delete_cover_image', album_id=album.id)}}", {
        method: "DELETE",
        headers: {
          "Accept": "application/json"
        }
      });

      const data = await res.json();
      if (!res.ok) throw new Error(data.message || "Something went wrong");

      showSuccessToast("Cover image removed");
      coverImg.src = "{{ default_cover }}";
      confirmDeleteImg.classList.add("d-none");
    } catch (err) {
      showErrorToast(err.message || "Something went wrong");
    }
  });
</script>

{% endblock %}