{% extends "layout/base.html" %}

{% block body %}

{% include "components/layout/toasts.html" %}

<div class="d-flex">
  <!-- Sidebar -->
  <div class="app-sidebar position-fixed top-0 bottom-0 start-0
    d-flex flex-column justify-content-between p-3 bg-darker"
    style="z-index: 1000;">
    {% include "components/layout/sidebar.html" %}
  </div>

  <!-- Content -->
  <div class="app-main">
    <main class="p-3">
      {% block content %}{% endblock %}
    </main>
  </div>

  <!-- Player -->
  <div class="app-player position-fixed bottom-0 bg-darker"
    style="z-index: 1000;">
    {% include "components/layout/player.html" %}
  </div>
</div>

{% endblock %}
